
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(name='description', content='content')
        meta(name='keywords', content='content')
        meta(name='author', content='content')

        block title
            title Title from Default layout

        link(rel='stylesheet', href='/css/main.css')

        block styles

        link(rel="canonical", href="")

        link(rel='apple-touch-icon', href='')
        link(rel='icon', href='')

        noscript noscript content
    body
        block content

        script(src='/js/main.js')

        block scripts

