// Device type

$mobile          : '(min-width: 320px) and (max-width: 767px)';
$small-tablet    : '(min-width: 768px) and (max-width: 1023px)';
$large-tablet    : '(min-width: 1024px) and (max-width: 1200px)';
$desktop         : '(min-width: 1201px) and (max-width: 1599px)';
$extra           : '(min-width: 1600px)';

// Example Using
//   @media #{$mobile}
//      .example
//        color: #fff

// or use media-query  mixin

@mixin media-query($query) {
   @media #{$query} {
     @content;
   }
}

// Flex

.flex {
  display: flex;
  flex-direction: columns;

.col {

    &.one   { flex: 1; }

    @extend .one;

    &.two    { flex: 2; }
    &.three  { flex: 3; }
    &.four   { flex: 4; }
    &.five   { flex: 5; }
    &.six    { flex: 6; }
    &.seven  { flex: 7; }
    &.eight  { flex: 8; }
    &.none   { flex: 9; }
    &.ten    { flex: 10; }
    &.eleven { flex: 11; }
    &.twelve { flex: 12; }
  }

}

@include media-query($mobile) {
  .flex {
    flex-wrap: wrap;

    .col {
      flex: initial;
      width: 100%;
    }
  }
}
