extends ./layouts/_default

block title
    title Main page

block content
    .container
        .flex
            .col
                .logo
            .col
                .navbar
        .flex
            .col.five
                .page
                    .flex
                        .col
                            .image
                            ul.properties
                                - var n = 0;
                                while n < 6
                                    - n++;
                                    li
                        .col.three
                            h1 Main page



            .col.two Sidebar column
