extends ./layouts/_default

block title
    title Main page

block content
    .container
        h1 Main page
        .flex
            .col Left column 1
            .col.five Content column 2
            .col Right column 3
